log global

unique-id-format %[uuid]
unique-id-header X-Request-Id

# tag - package name tag
# tim - time when request was received
# dur - duration of the request in milliseconds
# cip - client IP address
# bck - backend name
# sts - HTTP status code of the response
# mtd - HTTP method of the request
# pth - path of the request URI
# xff - X-Forwarded-For header
# dom - domain name from the Host header
# rid - X-Request-Id header
log-format "{ \"tag\": null, \"tim\": \"%[date,ltime(%Y.%m.%d-%H:%M:%S)]\", \"dur\": \"%Td\", \"cip\": \"%ci\", \"bck\": \"%b\", \"sts\": \"%ST\", \"mtd\": \"%HM\", \"pth\": \"%HPO\", \"xff\": null, \"dom\": null, \"rid\": \"%ID\" }"

# watch ${@NAMETAG}.docker dns and resolve container ip, automaticly brings UP and DOWN frontends
default-server check resolvers ${@NAMETAG}.docker init-addr last,libc,1.1.1.1
