timeout client 300s
mode http

# set unique request ID header
http-request set-header X-Request-Id %ID

# set x-forwarded-for header if not present
acl existing_xff hdr_cnt(X-Forwarded-For) gt 0
http-request set-header X-Forwarded-For %[src] if !existing_xff

# set proto header
http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
http-request set-header X-Forwarded-Proto https if { ssl_fc }

# log
http-request capture req.hdr(X-Forwarded-For) len 16
http-request capture req.hdr(Host) len 256

# tag - package name tag
# tim - time when request was received
# dur - duration of the request in milliseconds
# cip - client IP address
# bck - backend name
# sts - HTTP status code of the response
# mtd - HTTP method of the request
# pth - path of the request URI
# xff - X-Forwarded-For header
# dom - domain name from the Host header
# rid - X-Request-ID header
log-format "{ \"tag\": \"${@NAMETAG}\", \"dur\": \"%Td\", \"cip\": \"%ci\", \"bck\": \"%b\", \"sts\": \"%ST\", \"mtd\": \"%HM\", \"pth\": \"%HPO\", \"xff\": \"%[capture.req.hdr(0)]\", \"dom\": \"%[capture.req.hdr(1)]\", \"rid\": \"%ID\" }"

# ssl
bind :${TS_PORT} ssl crt /home/ssl/"$${CERTBOT_DOMAIN}"/fullchain.pem alpn h2,http/1.1

# redirects
use_backend ${@NAMETAG}.api if { path_beg /api }
use_backend ${@NAMETAG}.graphql if { path_beg /graphql }
use_backend ${@NAMETAG}.next if { path_beg / }