timeout client 300s
mode http

# set x-forwarded-for header if not present
acl existing_xff hdr_cnt(X-Forwarded-For) gt 0
http-request set-header X-Forwarded-For %[src] if !existing_xff

# set proto header
http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
http-request set-header X-Forwarded-Proto https if { ssl_fc }

# ssl
bind :"${WGEASY_UI_PORT}" ssl crt /home/ssl/"$${CERTBOT_DOMAIN}"/fullchain.pem alpn h2,http/1.1

# use backend
use_backend ${@NAMETAG}.app